<!DOCTYPE html>
<html>
<head>
	<title>Bus Reservation</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>Bus Reservation</h1>
	<div class="button-container">
		<button id="book-tickets-btn" onclick="document.location='index.ejs'">Add Bus Details</button>
            <button id="bus-details-btn" onclick="document.location='bus'" >Bus details</button>
	</div>


</body>
</html>