<!DOCTYPE html>
<html>
<head>
    <title>Bus Reservation</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>

    
  <form action="/add" method="POST" enctype="multipart/form-data">
    <label for="busName">busName:</label>
    <input type="text" id="busName" name="busName"><br>
  
    <label for="route">route:</label>
    <input type="text" id="route" name="route"><br>
  
    <label for="time">time:</label>
    <input type="text" id="time" name="time"></input><br><br>

    <label for="price">price:</label>
    <input type="text" id="price" name="price"></input><br><br>

    <label for="seat">seat:</label>
    <input type="number" id="seat" name="seat"></input><br><br>

    <label for="image">image:</label>
    <input type="file" id="image" name="image"></input><br><br>
  
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </form>

    
</body>
</html>  